main
{
	background-color:#F0F0F0;
	padding-bottom:100px;
}

main article
{
	width:80%;
	padding-left:20%;
}

main article h1
{
	font-size:40px;
	font-weight:400;
	padding-top:50px;
	margin-bottom:20px;
}

main article section
{
	padding-top:30px;
	display:flex;
	width: 100%;
	justify-content:space-between;
}

main article section div
{
	width: 45%;
}

#imgDiv
{
	width:50%;
}

#imgDiv img
{
	object-fit: cover;
	max-width:100%;
}

main article section button
{
	display:flex;
	align-items:center;
	border:none;
	margin-top:40px;
	color:#0D47A1;
	font-size:14px;
}

main article section button:hover
{
	cursor: pointer;
}


main article section button img
{
	width:22px;
	height:22px;
	object-position: 50% 50%;
}

main article section button span
{
	opacity:0.5;
	margin-left:5px;
	margin-right:5px;
}

.disabled
{
	color:gray;
}

.disabled:hover
{
	cursor: not-allowed;
}

.adminButtons
{
	background-color:black;
	padding:10px;
	font-size:20px;
	color:white;
}
